/* Variables */

:root {
  --basic-extra-light: #EEEEEE;
  --basic-light: #E1E1E1;
  --basic-white: #ffffff;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-black: #000000;

  --active-dark-red: #E74246;
  --active-extra-dark-red: #D7373B;
  --active-light: #A6A6A6;
  --active-dark-green: #00BC6C;
  --active-extra-dark-green: #00AA62;
  --active-dark-yellow: #EAB534;
  --active-extra-dark-yellow: #E5A722;
  --active-black: #444444;
  --active-grey: #D7DCDE;
  --active-border-grey: #B4B9BB;

  --special: #283136;
  --special-grey: #666666;
  --special-input: #4D4D4D;
  --special-triangle: #231F20;
  --special-hover: #DFDFDF;
  --special-active: #D5D5D5;
  --special-border: #DBDBDB;
  --special-button: #C1C1C1;
  --special-green: #00CA74;
  --special-cost: #ABABAB;
  --special-scale: #D7DCDF;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  align-self: center;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  display: block;
  width: 240px;
  height: 50px;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 13px;
  margin-bottom: 61px;
}

/* Navigation */

.main-header {
  background-color: var(--basic-extra-light);
  /*max-height: 544px;*/
}

.main-navigation {
  align-items: center;
  max-width: 1160px;
  margin: auto;
  display: grid;
  grid-template-columns: 160px 437px auto;
  justify-content: space-between;
  vertical-align: top;
  height: 39px;
  padding-top: 49px;
}

.main-header-logo {
  width: 160px;
  padding: 0;
  margin-bottom: 0;
  height: 80px;
  margin-top: -11px;
}

.main-header-logo:hover {
  opacity: 70%;
}

.main-header-logo:active {
  opacity: 30%;
}

.site-navigation {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style-type: none;
  width: 437px;
  padding: 0;
}

.site-navigation li {
  margin-right: 46px;
  padding: 9px 0 13px;
}

.menu-active {
  border-bottom: 2px solid var(--basic-red);
}

.site-navigation a,
.basket-navigation a {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: none;
  font-weight: 500;
}

.site-navigation a:hover,
.basket-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.basket-navigation a:active {
  opacity: 30%;
  color: var(--basic-black);
}

.basket-navigation a {
  text-align: right;
  margin-top: 3px;
  padding-left: 45px;
}

.icon-basket {
  width: 15px;
  height: 15px;
  color: var(--active-light);
  margin-right: 23px;
  margin-top: 8px;
  display: inline-flex;
}

.basket-navigation {
  display: block;
  margin-top: -9px;
}

/* Slider-description */

.slider {
  width: 1160px;
  height: 456px;
  overflow: hidden;
  margin: auto;
}

.slider-description {
  display: grid;
  grid-template-columns: 1fr auto;
}

.first .slider-headline {
  margin-bottom: 0;
}

.first .slider-preview {
  margin-top: 10px;
  padding-bottom: 7px;
}

.slider-preview {
  margin-top: 0;
  padding-bottom: 25px;
}

.slider-img {
  width: 760px;
  height: 431px;
  grid-row: 1/4;
  padding-right: 5px;
  grid-column: 2;
  background-color: transparent;
}

.slider-headline {
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 0;
  width: 397px;
  height: 111px;
  font-weight: 500;
  margin-top: 80px;
  padding-left: 1px;
}

.slider-controls {
  position: relative;
}

.button.first-button::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 5px;
  border-radius: 50%;
  left: 5px;
  border: 2px solid #C1C1C1;
  box-sizing: border-box;
}

.slider-controls button {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  background-color: var(--basic-white);
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  top: 338px;
  left: 535px;
  padding: 0;
  margin: 0 15px 0 0;
}

.slider-description .button:active {
  color: rgba(255,255,255, 0.3);
}

.button:hover,
.button-red:hover {
  background-color: var(--active-dark-red);
}

.button:active,
.button-red:active {
  background-color: var(--active-extra-dark-red);
}

/* Features */

.features-img {
  width: 300px;
  height: 146px;
}

.features {
  width: 1160px;
  margin: 81px auto 0;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--basic-extra-light);
}

@media (max-width: 1200px) {
  .features {
    margin-top: 80px;
    margin-bottom: 0;
    width: 1160px;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--basic-extra-light);
  }
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.featured-item {
  width: 300px;
}

.feature-item p {
  margin: 0 10px 32px;
}

.features-list h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 18px;
  color: var(--basic-black);

}

.features-button {
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border: none;
  width: 160px;
  height: 50px;
  margin-top: 17px;
  border-radius: 3px;
  outline: none;
}

.button-red {
  background-color: var(--basic-red);
}

.button-red:active {
  color: rgba(255,255,255, 0.3);
}

.button-green {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover {
  background-color: var(--active-dark-yellow);
}

.button-yellow:active {
  background-color: var(--active-extra-dark-yellow);
  color: rgba(255,255,255, 0.3);
}

.button-green:hover {
  background-color: var(--active-dark-green);
}

.button-green:active {
  background-color: var(--active-extra-dark-green);
  color: rgba(255,255,255, 0.3);
}

/*content*/

.content {
  /*margin-right: 149px;*/
  width: 651px;
}

.slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  width: 651px;
  height: 91px;
  color: var(--basic-black);
  margin: 45px 0 32px 2px;
}

.content p {
  width: 646px;
  height: 49px;
}

.benefits-list-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 22px;
  margin-top: 40px;
}

.benefits-list ul {
  margin: 0;
  padding: 1px 0 0 35px;
  list-style: none;
}

.benefits-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 1px;
}

.benefits-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: var(--basic-red);
  top: 10px;
  left: -35px;
}

/*sidebar*/

.sidebar {
  padding-top: 10px;
  width: 365px;
}

.sidebar-img {
  width: 360px;
  height: 208px;
  margin-bottom: 14px;
  padding-left: 5px;
}

.sidebar-headline {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 26px;
  color: var(--basic-black);
  text-align: center;
  padding-left: 7px;
}

.table-list {
  padding-top: 3px;
  padding-left: 3px;
}


.table-item {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--basic-black);
}

.table-item td {
  padding: 0;
}

.table-percent {
  font-size: 34px;
  line-height: 40px;
  font-weight: bold;
  text-align: left;
}

.table-text {
  font-size: 16px;
  line-height: 18px;
  height: 55px;
  color: var(--special);
}

.numbers {
  width: 50px;
}

/*partners*/

.partners-list {
  display: flex;
  justify-content: space-between;
  height: 177px;
  align-items: center;
  border-bottom: 1px solid var(--basic-extra-light);
  max-width: 1160px;
  list-style: none;
  padding: 3px 0 0;
  margin: 0 auto;
  vertical-align: middle;
}

.partner-item {
  opacity: 20%;
  padding-left: 7px;
  padding-top: 17px;
}

.partners-list li {
  display: contents;
}

.partners-list li:last-child {
  margin-left: 50px;
}

.partners-list :not(:last-child):after {
  content: "";
  position: relative;
  height: 1px;
  width: 1px;
  padding-top: 52px;
  border-right: 2px solid var(--basic-extra-light);
}

.partner-item-img {
  opacity: 20%;
  margin-left: 28px;
}

.html-academy {
  margin-left: 25px;
  min-width: 199px;
  padding-right: 11px;
}

.barber {
  margin-left: 10px;
  padding-right: 7px;
}

.pink {
  padding-right: 18px;
  margin-left: 23px;
}

.mishka {
  margin-right: 43px;
  margin-top: 4px;
}

.partner-item:hover {
  opacity: 100%;
}

.partner-item-img:hover {
  opacity: 100%;
}

.partner-item:active {
  opacity: 10%;
}

.partner-item-img:active {
  opacity: 10%;
}

/*footer*/

.main-footer {
  margin-top: 83px;
  margin-bottom: 75px;
}

.footer-main-contacts {
  display: block;
  position: absolute;
  margin-left: 140px;
  margin-top: 54px;
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  display: grid;
  position: relative;
  max-width: 1440px;
  margin: 60px auto auto auto;
}

.footer-main-contacts p,
.footer-main-contacts a {
  padding-left: 50px;
}

.contacts-caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 23px;
  color: var(--basic-black);
}

.contacts-address,
.contacts-phone {
  line-height: 18px;
  color: var(--special-grey);
  font-size: 16px;
}

.contacts-address {
  margin-bottom: 11px;
  height: 39px;
}

.contacts-map {
  height: 416px;
}

.contacts-map-marker {
  width: 231px;
  height: 190px;
  position: absolute;
  left: 823px;
  top: 86px;
}

.button.contacts {
  width: 219px;
  margin-top: 35px;
  padding-top: 12px;
  margin-left: 50px;
  padding-left: 0;
}

/*соц сети*/

.footer-elements {
  display: grid;
  grid-template-columns: 350px auto;
  height: 217px;
  width: 1160px;
  align-items: center;
  margin: auto;
}

.footer-social ul {
  list-style: none;
  display: grid;
  grid-template-columns: 90px 90px 90px;
  width: 261px;
  padding-left: 0;
}

.social-button {
  width: 81px;
  height: 81px;
  background-color: var(--basic-light);
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button a {
  padding-top: 7px;
}

.social-button:hover {
  background-color: var(--active-dark-red);
}

.social-button:active {
  background-color: var(--active-extra-dark-red);
}

.social-button img:active {
 opacity: 30%;
}

.promo {
  padding-left: 50px;
}

.promo-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: left;
  margin-top: 41px;
  margin-bottom: 0;
}

.promo-text + p {
  line-height: 22px;
  margin-top: 11px;
  margin-bottom: 41px;
  color: var(--active-black);
}

/*modal*/

.modal {
  display: none;
  position: absolute;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background-position: 0 0;
  width: 960px;
  height: 590px;
  top: 1705px;
  background: var(--basic-white);
  right: 0;
  margin: auto;
  left: 0;
}

.modal h4 {
  margin: 63px 0 37px 100px;
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
  background-position: left;
}

.modal-close {
  height: 21px;
  width: 21px;
  opacity: 30%;
  background-color: var(--basic-white);
  margin-top: 78px;
  margin-left: 439px;
  padding: 0;
  border: none;
}

.modal-close:hover {
  opacity: 100%;
}

.modal-close:active {
  opacity: 10%;
  outline: none;
}

.modal-title {
  display: flex;
  flex-direction: row;
}

.login-item input[type="email"],
.login-item input[type="text"],
.login-item textarea {
  font: inherit;
  border: 2px solid var(--active-grey);
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  outline: none;
}

.login-item input::placeholder,
.login-item input::placeholder:hover,
.login-item textarea::placeholder,
.login-item textarea::placeholder:hover {
  color: var(--active-black);
  opacity: 50%;
}

.login-item input[type="email"]:hover,
.login-item input[type="text"]:hover,
.login-item textarea:hover {
  border: 2px solid var(--active-border-grey);
}

.login-item input[type="email"]:focus,
.login-item input[type="text"]:focus,
.login-item textarea:focus {
  border: 2px solid var(--basic-black);
}

.login-item input[type="email"]:invalid,
.login-item input[type="text"]:invalid,
.login-item textarea:invalid {
  border: 2px solid var(--active-dark-red);
  color: var(--active-dark-red);
}

.login-form label {
  display: block;
  line-height: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 9px;
}

.button.letter {
  display: block;
  width: 259px;
  height: 50px;
  margin-top: 31px;
  margin-left: 0;
  margin-right: 1px;
  padding: 14px 0 15px 3px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.login-item {
  /*margin-bottom: 34px;*/
  justify-content: space-between;
  margin-top: 0;
}

.login-item-email {
  margin-left: 40px;
}

.login-item-email,
.login-item-user {
  width: 360px;
  height: 77px;
}

.login-item-text {
  width: 760px;
  height: 145px;
  margin-top: 19px;
}

.login-item-text textarea {
  height: 118px;
  width: 100%;
  padding-left: 15px;
  padding-top: 14px;
  box-sizing: border-box;
  border: 2px solid var(--active-grey);
  resize: none;
}

.login-item-email input,
.login-item-user input {
  height: 50px;
  width: 360px;
  padding-left: 14px;
  box-sizing: border-box;
}

/*correct*/

.slider-preview,
.featured-item,
.content,
.benefits-item,
.table-item-text {
  color: var(--special);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*header nav*/

.header-title h1 {
  font-size: 55px;
  line-height: 55px;
  padding-top: 104px;
  padding-bottom: 107px;
  text-align: center;
  margin: 0 0 55px;
}

.header-title-hidden {
  height: 150px;
}

/*.header-title {*/
/*  margin: 0 auto;*/
/*}*/


/*КАТАЛОГ*/

.catalog-container {
  color: var(--special);
  font-size: 16px;
  line-height: 20px;
  display: grid;
  grid-template-columns: 400px 1fr;
  width: 1160px;
  height: 2080px;
  margin: auto;
}

/*фильтр слева*/

.filters {
  display: flex;
  width: 260px;
  color: var(--special);
}

.container-filter {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 35px;
  line-height: 2.5;
}

.container-title {
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  color: var(--basic-black);
}

.filter-button {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  font-size: 16px;
  line-height: 18px;
  border: none;
  font-weight: 500;
  margin-top: 3px;
  width: 260px;
  height: 50px;
  outline: none;
}

.filter-button:hover,
.click:hover {
  background-color: var(--special-hover);
}

.filter-button:active {
  background-color: var(--special-active);
  color: rgba(0, 0, 0, 0.3);
}


/*Кнопки фильтрыа выбора*/


/*.container-filter {*/
/*  opacity: 40%;*/
/*}*/

/*.container-filter input:hover {*/
/*  color: var(--special-input);*/
/*}*/

/*.container-filter input:disabled {*/
/*  opacity: 10%;*/
/*}*/

.filter-box {
  border: none;
  padding: 0;
  margin: 0 0 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

/* Radio input style */
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radiobutton-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  visibility: hidden;
}

.filter-input-radio + label:hover::before {
  opacity: 1;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radiobutton-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label:hover::after {
  opacity: 1;
}


/* Checkbox style*/
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-unchecked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  visibility: hidden;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label:hover::after {
  opacity: 1;
}

.visually-hidden-control {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*фильтр Стоимость*/

.filter-cost {
  padding: 0;
  border: none;
  width: 260px;
  margin: 0 0 54px;
  text-transform: uppercase;
}

.container-title .cost {
  margin-bottom: 48px;
}

.range-filter {
  width: 260px;
  padding-top: 50px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 11px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-extra-light);
  border-radius: 5px;
}

.range-controls .cost-scale {
  height: 2px;
  background-color: var(--special-scale);
}

.range-controls .bar {
  width: 62%;
  height: 2px;
  background-color: var(--special-green);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  background-color: var(--special-cost);
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 var(--special-cost);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.placeholder-cost {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.placeholder-cost input {
  width: 56px;
  padding: 12px;
  margin-left: 9px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--basic-extra-light);
  font-family: inherit;
  font-size: inherit;
  color: var(--special);
}

.min-price input {
  padding-left: 23px;
  margin-left: 9px;
  padding-bottom: 6px;
  width: 46px;
}

.max-price input {
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  margin-left: 9px;
  width: 63px;
}

/*сортировка каталога сверху*/

.catalog-sort {
  display: grid;
  /*grid-template-columns: 134px 60px 60px 101px 40px;*/
  grid-template-columns: 134px auto 40px;
  width: 758px;
  height: 55px;
}

.catalog-sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  vertical-align: top;
  margin-bottom: 48px;
}

.catalog-sort-title:hover {
  color: var(--basic-red)
}

.catalog-sort-title:active {
  opacity: 30%;
}

.catalog-sort-title:hover {
  color: var(--basic-red)
}

.sort {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  opacity: 30%;
  color: var(--basic-black);
  /*margin-right: 25px;*/
}

.sort:active,
.current {
  opacity: 100%;
}

.sort:hover {
  opacity: 60%;
}

.sort-name a {
  padding-right: 22px;
}

.sort-name {
  height: 18px;
  margin: 5px 0 54px 266px;
  padding: 0;
}

.triangle-down {
  margin-right: 14px;
}

.triangle-up,
.triangle-down {
  width: 11px;
  height: 10px;
}

/*.triangle:hover {*/
/*  opacity: 100%;*/
/*  background-color: var(--active-light);*/
/*}*/

/*.triangle:active {*/
/*  background-color: var(--special-triangle);*/
/*}*/

.triangle-set {
  display: inline;
  flex-direction: row;
  padding: 0;
  width: 40px;
  margin: 3px 0 0;
}

/*Шаблоны*/

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 758px;
  margin: 22px 0 0 0;
  padding: 0;
  border-collapse: collapse;
}

.catalog-list button {
  /*margin: 32px 80px 44px 80px;*/
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.catalog-item {
  display: block;
  position: relative;
  vertical-align: top;
  width: 358px;
  height: 615px;
  margin: 0 0 35px;
  object-fit: contain;
}

.catalog-span {
  width: 358px;
  height: 40px;
  border-radius: 5px 5px 0 0;
  opacity: 0.12;
}

.odd {
  margin-left: 42px;
}

/*Всплывающее окно каталога*/


.catalog-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-align: center;
  margin-top: 26px;
}

.catalog-title:hover {
  color: var(--basic-red);
}

.catalog-title:active {
  color: var(--basic-black);
  opacity: 30%;
}

.catalog-text {
  line-height: 18px;
  text-align: center;
  color: var(--special-grey);
  margin-bottom: 32px;
  width: 255px;
  margin-left: 51px;
  margin-top: 13px;
}

.catalog-block {
  background: var(--basic-extra-light);
  height: 231px;
  width: 358px;
  position: absolute;
  top: 387px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  display: none;
}

.open .catalog-block {
  display: block;
}

.open img {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.catalog-span img {
  box-shadow: 0 0 0 0;
}

.catalog-span:hover img.site-item {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}


.catalog-item:hover .catalog-span {
  opacity: 1;
}

.catalog-item:hover img.site-item{
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.site-item:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .catalog-block {
  display: block;
}

.catalog-block h3 {
  margin-bottom: 13px;
}

.catalog-block button {
  width: 200px;
  margin: auto;
  padding: 3px 0 0 0;
  outline: none;
}

/*Кнопки под шаблонами*/

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 36px auto auto;
}

.pagination-item a {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  font-weight: 500;
  line-height: 18px;
  min-width: 50px;
  margin: 0 11px 11px 0;
  width: 50px;
  height: 50px;
  padding: 15px 19px 14px 20px;
  border: none;
  border-radius: 3px;
}

.pagination-item {
  margin-right: 2px;
}

.pagination-item a:hover {
  background-color: var(--special-hover);
}

.pagination-item a:active {
  background-color: var(--special-active);
  rgba(0, 0, 0, 0.3);

}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  background-color: var(--basic-white);
  border: 3px solid var(--special-border);
  width: 44px;
  height: 44px;
  padding: 12px 17px 12px 17px;
}

.pagination-item-next a {
  width: 260px;
  height: 50px;
  padding: 15px 77px 15px 77px;
  border-radius: 3px;
}

/*GRID*/

.page {
  height: 100%;
  overflow: scroll;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 29px;
  padding-bottom: 48px;
  border-bottom: 1px solid var(--basic-extra-light);
  max-width: 1160px;
}

/*@keyframes slider-description {
  from {
    top: 0;
    left: 0;
  }
.first {transform: translate(0px, 0px);}
.second {transform: translate(1157px, 431px);
  display: none;}
.third {transform: translate(1157px, 431px);
  display: none;}
}*/
